<div class="card p-2">
  <div class="new-user text-right mb-3">
    <button class="btn btn-primary" (click)="onAddUser()">
      <i class="fa fa-plus mr-1" aria-hidden="true"></i>Add User
    </button>
  </div>

  <table class="table table-bordered bg-white" *ngIf="users.length > 0">
    <tr>
      <th>Username</th>
      <th>Firstname</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Role</th>
      <th>Active</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let user of users">
      <td>
        {{ user?.userName }}
      </td>
      <td>
        {{ user?.firstName }}
      </td>
      <td>
        {{ user?.email }}
      </td>
      <td>
        {{ user?.phone }}
      </td>
      <td>
        {{ user?.role }}
      </td>
      <td>
        {{ user?.isUserActive }}
      </td>
      <td>
        <div>
          <span
            class="rowaction bg-primary py-1 px-2 cursor-pointer"
            (click)="onEdit(user)"
            ><i class="fa fa-pencil-square-o" aria-hidden="true"></i
          ></span>
          <span
            class="rowaction bg-danger py-1 px-2 cursor-pointer"
            (click)="onDelete(user.idUser)"
            ><i class="fa fa-trash-o" aria-hidden="true"></i
          ></span>
        </div>
      </td>
    </tr>
  </table>
</div>

<p-dialog
  [(visible)]="dialogOpen"
  class="userdetail col col-lg-6"
  [modal]="true"
  appendTo="body"
>
  <ng-template pTemplate="header">
    <h4 class="userdetail-title">Profile Details</h4>
  </ng-template>
  <app-adminuserdetails
    [userInformation]="editableData"
    [isEdit]="isEdit"
    [isUserAdd]="isAdd"
    *ngIf="isEdit || isAdd"
  ></app-adminuserdetails>
  <!-- <ng-template pTemplate="footer">  </ng-template> -->
</p-dialog>
