<div class="admin-main">
    <div class="row">
      <div class="col col-lg-3">
        <div class="dashboard-total-items">
          <span class="content">
            Total Users <br />
            <span> 10 </span>
          </span>
          <span class="icons">
            <i class="fa fa-users" aria-hidden="true"></i>
          </span>
        </div>
      </div>
      <div class="col col-lg-3">
        <div class="dashboard-total-items">
          <span class="content">
            Total Apartments <br />
            <span> 10 </span>
          </span>
          <span class="icons">
            <i class="fa fa-building" aria-hidden="true"></i>
          </span>
        </div>
      </div>
      <div class="col col-lg-3">
        <div class="dashboard-total-items">
          <span class="content">
            Total Vendors <br />
            <span> 10 </span>
          </span>
          <span class="icons">
            <i class="fa fa-user-o" aria-hidden="true"></i>
          </span>
        </div>
      </div>
      <div class="col col-lg-3">
        <div class="dashboard-total-items">
          <span class="content">
            Total Admins <br />
            <span> 10 </span>
          </span>
          <span class="icons">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
  