<div class="container-fluid common-header">
  <div class="row align-items-center">
    <div class="col col-lg-8">
      <nav class="navbar navbar-expand-lg">
        <a class="common-logo navbar-brand" href="#">
          <img
            src="../../../../assets/images/iskcon_logo.jpg"
            title=""
            alt=""
          />
        </a>
        <ul
          class="navbar-nav d-flex justify-content-between"
          *ngIf="!isLoginPage"
        >
          <li class="nav-item active">
            <span class="nav-link" href="#">Products </span>
          </li>
          <li class="nav-item">
            <span class="nav-link" href="#">Pricing</span>
          </li>
          <li class="nav-item">
            <span class="nav-link" href="#">Testimonials</span>
          </li>
          <li class="nav-item">
            <span class="nav-link" href="#">Contact Us</span>
          </li>
        </ul>
        <!-- </div> -->
      </nav>
    </div>
    <div class="col col-lg-4 text-right">
      <button
        class="btn btn-primary apartment-btn"
        [routerLink]="['login']"
        *ngIf="!isLoginPage"
      >
        Login
      </button>

      <button class="btn btn-warning apartment-btn ml-5">Signup</button>
    </div>
  </div>
</div>
