<div class="login-container d-flex align-items-center justify-content-center">
  <mat-card class="login-wrapper p-5">
    <mat-card-title>
      <img src="../../../../assets/images/login-img1.jpg" alt="" title="" />
      <br />
      Login to your ISCON</mat-card-title
    >
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <p>
          <mat-form-field>
            <input
              type="text"
              matInput
              placeholder="Username"
              formControlName="username"
            />
            <mat-error *ngIf="f.username.errors?.required"
              >Username is required</mat-error
            >
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input
              type="password"
              matInput
              placeholder="Password"
              formControlName="password"
            />
            <mat-error *ngIf="f.password.errors?.required"
              >Password is required</mat-error
            >
          </mat-form-field>
        </p>

        <p>
          <a href="javascript:void(0)" class="fp-link"
            >Forget password?</a
          >
        </p>
        <p *ngIf="error" class="error">
          <mat-error>
            {{ "Invalid username and password." }}
          </mat-error>
        </p>

        <div class="button text-right">
          <button type="submit" mat-raised-button color="primary">Login</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
